body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px; /* Добавлено немного отступа для удобства */
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Ограничение ширины контейнера */
    width: 100%;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #555;
}

input[type="range"] {
    width: 80%;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.output {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    min-height: 24px;
    word-wrap: break-word; /* Позволяет перенести слово на новую строку */
    white-space: pre-wrap; /* Сохраняет пробелы и позволяет перенесение слов */
    text-align: left; /* Слева направо для улучшения читаемости */
}
